.christmas-navbar-decor {
  position: absolute;
  top: 65px;
  /* Adjust based on navbar height to hang below or overlay */
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 55;
  pointer-events: none;
  overflow: hidden;
}

/* On mobile, adjust top position since navbar is smaller */
@media (max-width: 768px) {
  .christmas-navbar-decor {
    top: 55px;
  }
}

.string-wire {
  display: none;
  /* Implicit in the spacing */
}

.light-rope {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0;
  list-style: none;
  width: 100%;
  overflow: visible;
}

.bulb {
  width: 12px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  top: -5px;
  animation: flash 2s infinite ease-in-out alternate;
  box-shadow: 0px 5px 20px 2px rgba(255, 255, 255, 0.5);
}

.bulb::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 3px;
  width: 6px;
  height: 4px;
  background: #333;
  border-radius: 2px;
}

/* Colors */
.bulb-0 {
  background: #ff2a2a;
  box-shadow: 0px 5px 24px 3px rgba(255, 42, 42, 0.6);
  animation-delay: 0s;
}

.bulb-1 {
  background: #ffd700;
  box-shadow: 0px 5px 24px 3px rgba(255, 215, 0, 0.6);
  animation-delay: 0.5s;
}

.bulb-2 {
  background: #37ff2a;
  box-shadow: 0px 5px 24px 3px rgba(55, 255, 42, 0.6);
  animation-delay: 1s;
}

.bulb-3 {
  background: #2a88ff;
  box-shadow: 0px 5px 24px 3px rgba(42, 136, 255, 0.6);
  animation-delay: 1.5s;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(0.9);
  }
}
